annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
async-timeout==4.0.3
certifi==2025.1.31
channels==4.1.0
channels-redis==4.2.0
colorama==0.4.6
distlib==0.3.8
distro==1.9.0
Django==5.0.4
django-admin-soft-dashboard==1.0.12
django-cors-headers==4.3.1
django-crispy-forms==2.3
django-dal==1.0.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-template-utils==0.1.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
filelock==3.13.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
install==1.3.5
jiter==0.8.2
msgpack==1.0.8
openai==1.61.1
pillow==10.3.0
platformdirs==4.2.0
pydantic==2.10.6
pydantic_core==2.27.2
PyJWT==2.9.0
redis==5.0.7
sniffio==1.3.1
sqlparse==0.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
virtualenv==20.25.0
whitenoise==6.9.0
